/*----------------------------------------------------------------------*/
/* #Responsive
/*----------------------------------------------------------------------*/
@media (max-width: 770px) {
    #primary {
        padding-top: 1.25rem;
    }
    .Article {
        padding: 2.5rem 0;
        @include e(excerpt) {
                margin: 1.875rem 0;
        }
    }

}





